svg {
  vertical-align: middle;
  background: #F0F0E0;
  box-shadow: inset 0 0 3px 0px #CECECE;
  display: block;
  margin: 0 auto;
}

.animation-controls-container {
    text-align: left;
    padding: 8px 0px;
}

.view-wrapper {
    display: inline-block;
}

.algo-container {
    text-align: center;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.status-visiting {
    fill: none;
    stroke: #666;
    stroke-width: 3px;
}

path.link.status-active {
    fill: none;
    stroke: green;
    stroke-width: 3px;
}

path.arrowhead.status-active {
    fill: green;
    stroke: green;
}

.node > circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.status-visiting > circle {
  fill: #ccc;
  stroke: #ff0;
  stroke-width: 1.5px;
}

.node.status-exploring > circle {
  fill: #eec;
  stroke: #baf;
  stroke-width: 1.5px;
}

.node.status-finished > circle {
  fill: #ec6;
  stroke: red;
  stroke-width: 1.5px;
}

.node.source > circle {
  fill: #ccc;
  stroke: green;
  stroke-width: 1.5px;
}

.node.target > circle {
  fill: #ccc;
  stroke: orange;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

text.node-text,
text.pathfinding {
  fill: #000;
  font: 14px sans-serif;
  pointer-events: none;
}

text.pathfinding > tspan.relaxing,
text.pathfinding.relaxing {
  fill: #000;
  font: 14px sans-serif;
  font-weight: bold;
  fill: green;
  pointer-events: none;
}


/* spinner */
.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.form-inline .form-group {
    vertical-align: bottom;
    margin-right: 30px;
}

form.controls-set {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

form.controls-set::after {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

form.global-controls::after {
    content: "Global Controls";
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/* editor tabs styling */
.nav-tabs > li .close {
	margin: -2px 0 0 10px;
	font-size: 18px;
}

.graph-options-label {
    padding-bottom: 5px;
}

/* main layout panels */
.labeled-panel {
    position: relative;
    /* margin: 15px 0; */
    padding: 20px 00px 0px;
    /* background-color: white; */
    /* border: 1px solid #DDD; */
    /* -webkit-border-radius: 4px; */
    /* -moz-border-radius: 4px; */
    /* border-radius: 4px; */
}

.labeled-panel.algo-container {
    padding: 40px 0px 14px;
}

/* .labeled-panel::after { */
.algo-label-control,
.labeled-panel:not(.algo-container)::after {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
    content: attr(data-content);
}


.add-algo-placeholder .fa-plus {
    font-size: 50px;
    color: #9DA0A4;
}

.add-algo-placeholder #add-algo-clickable-frame {
    border: 0px solid #DDD;
}