svg {
  vertical-align: middle;
  background: #F0F0E0;
  box-shadow: inset 0 0 3px 0px #CECECE;
}

svg circle {
  stroke-width: 2px;
  stroke: #79A32B;
  fill: transparent;
  cursor: pointer;
}

svg circle:active {
  stroke: #45D3C7;
}

svg circle.selected {
  stroke: #3333FF;
}


.selection {
  stroke: gray;
  stroke-width: 1px;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

.cell {
  stroke: gray;
  stroke-width: 1px;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}