svg {
  vertical-align: middle;
  background: #F0F0E0;
  box-shadow: inset 0 0 3px 0px #CECECE;
}

/* taken wholesale from d3 example */

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.visiting {
    fill: none;
    stroke: #666;
    stroke-width: 3px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}
