<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/jqueryui-1.8.24/themes/smoothness/jquery-ui.css') }}"/> -->
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/jqueryui-1.8.24/themes/smoothness/jquery.ui.theme.css') }}"/> -->
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/ui.spinner.css') }}"/> -->
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/codemirror-4.1/lib/codemirror.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/codemirror-4.1/theme/base16-light.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/application.css') }}"/>
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/WebCola/style.css') }}"/> -->
 <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript src="{{url_for('static', filename='lib/jquery.min.js') }}"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='lib/jqueryui-1.8.24/ui/minified/jquery-ui.min.js') }}"></script> -->
    <!-- <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui-1.10.4.min.js') }}"></script> -->
    <!-- <script type=text/javascript src="{{url_for('static', filename='lib/ui.spinner.js') }}"></script> -->
    <script type=text/javascript src="{{url_for('static', filename='lib/underscore-min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/backbone-min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/d3.v3.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/WebCola/src/d3adaptor.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/WebCola/cola.v3.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='graph_model.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='graph.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='graph_simulation.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='algorithms.js') }}"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script> -->
    <script type=text/javascript src="{{url_for('static', filename='editor.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='ui.js') }}"></script>

    <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap-3.1.1/js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap-modal/src/backbone.bootstrap-modal.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/codemirror-4.1/lib/codemirror.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/codemirror-4.1/mode/javascript/javascript.js') }}"></script>

    <script id="modal-template" type="text/template">
      <div class="modal">
        <div class="modal-header"><h3><%= title %></h3></div>
        <div class="modal-body"><%= body %></div>
        <div class="modal-footer"><a class="btn close">Close</a></div>
      </div>
      <div class="modal-backdrop"></div>
    </script>

    <script id="spinner-template" type="text/template">
      <div class="input-group spinner">
        <input type="text" class="form-control" value="6">
        <div class="input-group-btn-vertical">
          <button class="btn btn-default"><i class="fa fa-caret-up"></i></button>
          <button class="btn btn-default"><i class="fa fa-caret-down"></i></button>
        </div>
      </div>
    </script>

    <script id="demos-list-template" type="text/template">
      <div class="container row">
        <div class="panel panel-default labeled-panel">
          <div class="panel-body">
            <ul class="nav nav-pills presets-list">
            </ul>
          </div>
        </div>
      </div>
    </script>

    <script id="explanation-template" type="text/template">
      <div class="container row">
        <div class="panel panel-default labeled-panel" data-content="Description">
          <div class="panel-body">
          </div>
        </div>
      </div>
    </script>

    <script id="graphviz-template" type="text/template">
      <!-- Note that the following div has only row class and not a container class.
        This is totally a hack to get the desired padding behavior for the algo-container class-->
      <div class="row" id="algo-view-container">
      </div>
    </script>

    <script id="editor-template" type="text/template">
      <div id="edit-controls" style="display: none;">
		<ul class="nav nav-tabs" id="editor-tabs">
		  <li id="default_code"><a href="#" data-toggle="tab">Default</a></li>
		  <li id="edited_code">
            <a href="#" data-toggle="tab">
              <button class="close close-tab" type="button" >×</button>Edited
            </a>
          </li>
	    </ul>
      </div>
	  <div id="edit-area"></div>
    </script>

    <script id="algoview-template" type="text/template">
      <div class="col-md-6">
        <div class="algo-container panel panel-default labeled-panel">
          <div class="edit-link" style="position: absolute; top: 5px; left: 400px; "> <a href="#">Edit Algorithm</a> </div>
          <div class="view-wrapper">
            <div class="animation-controls-container"></div>
            <div class="graph-container"></div>
          </div>
        </div>
      </div>
    </script>

    <script id="algoview-placeholder-template" type="text/template">
      <div class="col-md-6">
        <div class="panel panel-default algo-container add-algo-placeholder">
          <a id="add-algo-clickable" href="#">
            <div id="add-algo-clickable-frame">
              <div>
                <span class="fa fa-plus"></span>
              </div>
              <div>
                <span class="annotation">add graph</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </script>

    <script id="animation-controls-template" type="text/template">
	  <a id="play" class="btn btn-default">
        <span class="fa fa-play"></span>
        <span class="mylabel">Run</span>
      </a>
      <a id="step-back" class="btn btn-default">
        <span class="fa fa-step-backward"></span>
      </a>
      <a id="step-fwd" class="btn btn-default">
        <span class="fa fa-step-forward"></span>
      </a>
    </script>

    <script id="graph-options-template" type="text/template">
      <div class="container row">
        <div class="panel panel-default labeled-panel" data-content="Graph options">
          <div class="panel-body">
            <div id="type-selector" class="col-md-2">
            <div id="type-selector-label" class="graph-options-label">Graph type:</div>
            <div id="type-selector-control">
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="my-label"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu graph-choices">
                </ul>
              </div>
             </div>
            </div>
           <div id="vertex-spinner" class="col-md-2">
             <div id="vertex-spinner-label" class="graph-options-label">Vertices:</div>
             <div id="vertex-spinner-control"></div>
           </div>
          </div>
        </div>
      </div>
    </script>


</head>
<body>
  <div id="app-container" class="container">
    <h1>Graphania 1.0</h1>
  </div>
</body>
</html>
