<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/jqueryui-1.8.24/themes/smoothness/jquery-ui.css') }}"/> -->
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/jqueryui-1.8.24/themes/smoothness/jquery.ui.theme.css') }}"/> -->
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/ui.spinner.css') }}"/> -->
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/codemirror-4.1/lib/codemirror.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/codemirror-4.1/theme/base16-light.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/application.css') }}"/>
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='lib/WebCola/style.css') }}"/> -->
 <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript src="{{url_for('static', filename='lib/jquery.min.js') }}"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='lib/jqueryui-1.8.24/ui/minified/jquery-ui.min.js') }}"></script> -->
    <!-- <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui-1.10.4.min.js') }}"></script> -->
    <!-- <script type=text/javascript src="{{url_for('static', filename='lib/ui.spinner.js') }}"></script> -->
    <script type=text/javascript src="{{url_for('static', filename='lib/underscore-min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/backbone-min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/d3.v3.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/WebCola/src/d3adaptor.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/WebCola/cola.v3.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='graph.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='graph_simulation.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='algorithms.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>

    <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap-3.1.1/js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap-modal/src/backbone.bootstrap-modal.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/codemirror-4.1/lib/codemirror.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/codemirror-4.1/mode/javascript/javascript.js') }}"></script>

    <script id="modal-template" type="text/template">
      <div class="modal">
        <div class="modal-header"><h3><%= title %></h3></div>
        <div class="modal-body"><%= body %></div>
        <div class="modal-footer"><a class="btn close">Close</a></div>
      </div>
      <div class="modal-backdrop"></div>
    </script>


</head>
<body>
  <div id="app-container" class="container">
    <h1>Worst. Dijkstra. Ever.</h1>
    <div id="graph-controls-container">
      <form class="form-inline controls-set global-controls" role="form">
        <div class="form-group" id="spinner-form-group"></div>
        <div class="form-group" id="play-controls-form-group"></div>
      </form>
    </div>
    <div class="row" id="algo-view-container">
      <div class="col-md-6" id="dijkstra-container">
        <div class="algo-container"> <!-- container with the border -->
          <div class="edit-link" style="position: absolute; top: 5px; left: 400px; "> <a href="#">Edit Algorithm</a> </div>
          <div class="view-wrapper"> <!-- shrink-wrapped inline block -->
            <div class="animation-controls-container"></div>
            <div class="graph-container"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="bellman-ford-container">
        <div class="algo-container">
          <div class="edit-link" style="position: absolute; top: 5px; left: 400px; "> <a href="#">Edit Algorithm</a> </div>
          <div class="view-wrapper">
            <div class="animation-controls-container"></div>
            <div class="graph-container"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="toposort-container">
        <div class="algo-container">
          <div class="edit-link" style="position: absolute; top: 5px; left: 400px; "> <a href="#">Edit Algorithm</a> </div>
          <div class="view-wrapper">
            <div class="animation-controls-container"></div>
            <div class="graph-container"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="user-defined-container">
        <div class="algo-container">
          <div class="edit-link" style="position: absolute; top: 5px; left: 400px; "> <a href="#">Edit Algorithm</a> </div>
          <div class="view-wrapper">
            <div class="animation-controls-container"></div>
            <div class="graph-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
